@model Proyecto1.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar este empleado?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 my-3">
            Numero del Empleado
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.numeroEmpleado)
        </dd>
        <dt class="col-sm-2 my-3">
            Nombre
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2 my-3">
            Apellidos
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class="col-sm-2 my-3">
            Fecha de ingreso
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.ingreso)
        </dd>

        <dt class="col-sm-2 my-3">
            Fecha de nacimiento
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.nacimiento)
        </dd>
        <dt class="col-sm-2 my-3">
            Cédula
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class="col-sm-2 my-3">
            Dirección
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class="col-sm-2 my-3">
            Email
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2 my-3">
            Teléfono
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class="col-sm-2 my-3">
            Nombre de contacto
        </dt>
        <dd class="col-sm-10 my-3">
            @Html.DisplayFor(model => model.contacto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
